---
layout: splash
author_profile: false
header:
  image: /assets/images/header.jpg
---

{% include figure caption=
"<FIVE FX> originates from the name of one of the premier 5v5 arena teams in WoW history - a team that achieved the RANK 1 gladiator title an unprecendented 10 seasons in a row until the bracket was finally retired by blizzard.

  Adding to the original firve, all of our current core members have a hsitory of gladiator titles and, most importantly, strong PvE excellence. Most of us have played together for over a decade.

  We have both led and been a part of extremely successful raiding guilds in vanilla, TBC, and onward - pushing the endgaming, achieving server firsts, and farming the best content available.

  While we have a strong core and h istory, we cannot progress on our own. We are looking for competent players to fill in our raid core and progress through all end game content. We want to raid "casually yet hardcore enough" to clear all content in 6 hours total (2 raids x 3hours per week).

  Our guild has a chill atmosphere and we love to joke around and have fun, but when it comes to getting thongs done we do not have great tolerance for BS or underperformance.

  With that said, we are currently looking for most classes and roles, so pleasey APPLY and join us on our next journey throught WoW Classic!

  We are NOT looking for the following. All else may apply:
  Warrior - Tanking
  Priest - Healing

  Raid Logistics

  Raid Times: Tues/Weds 7pm-10pm PST
  Consumables: Bring on-hand as required
  Loot System: DKP / Loot Council
  Warcraftlogs: ON!

  *Almost all items will be using a DKP roll or bid system. MT/OT will have first priority on all tanking items. Game-changing items such as //Thunderfury/EoS/etc. will be determined by loot council and given strategically to those most benefitting the raid in progression. Perform well!*
  " %}

<!--
{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="center" %}
