---
layout: posts
author_profile: false
header:
  image: /assets/images/ragsplash3.jpg
---

<h3>Loot System for our first Guild Run</h3>
<p>Please check out the system we will be using tomorrow and onward for loot distribution (DKP/Loot Council): <a href="https://fivefx.forumotion.com/t4-raid-loot-system-dkp-loot-coucil#11">HERE</a></p> Please reply with any questions or comments and we'll see you Monday night!
</p>
<h6>Posted by Coach on Tues 9/25/2019 3:22 am</h6>
<br>
<h3>Ony Attunement and MC Round 2</h3>
<p>Good job last night for pretty smooth run to Shazzrah! We will be attuning for Onyxia all week,
  and will be running Ony/MC on Monday 9/30. Please be attuned & ready with some new gear and consumables.</p>
<h6>Posted by Coach on Tues 9/25/2019 8:37 pm</h6>
<br>
<h3>Into the Core</h3>
  <p>We will be running a Guild/PUG MC this monday with those who are attuned. For more details check out the post: <a href="https://us.forums.blizzard.com/en/wow/t/h-pug-mc-this-monday-9-23-19-7pm/307355">HERE</a></p>
<h6>Posted by Coach on Sun 9/22/2019 4:17 pm</h6>
<br>
<h3>Welcome to our Site</h3>
  <p>Our first guild MC run will be on 9/26/19. Get attuned!</p>
  <h6>Posted by Coach on Mon 9/16/2019 4:47 pm</h6>
<br>






<br>
<!--
{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="center" %}
