---
layout: splash
author_profile: false
header:
  image: /assets/images/header.jpg
---
<h1>Who We Are</h1>

<p>The Guild &lt;FIVE FX&gt; and its name originates from one of the premier 5v5 arena teams in WoW history - a team that achieved the RANK 1 gladiator
  title an unprecedented 10 seasons in a row until the bracket was finally retired by blizzard.
  </p>

<p>  Adding to the original five, all of our current core members have a history of gladiator titles and, most importantly, strong PvE excellence.
  Most of us have played together for over a decade.We have both led and been a part of extremely successful raiding guilds in vanilla, TBC, and
  onward - pushing the endgame, achieving server firsts, and farming the best content available.
</p>

<p>While we have a strong core and history, we cannot progress on our own. We are looking for competent players to fill in our raid core and progress through
  all end game content. We want to raid "casually yet hardcore enough" to clear all content in 6 hours total (2 raids x 3 hours per week).
</p>

<p>  Our guild has a chill atmosphere and we love to joke around and have fun, but when it comes to getting thongs done we do not have great tolerance for BS or underperformance -
  so just do your job and get some loot! With that said, we are currently looking for most classes and roles, so please join us on our next journey throughout WoW Classic!
</p>
<p></p>

<h3>We are looking for the following:</h3>
  >>All roles EXCEPT tanks are OPEN!
  <br>>>Please apply    <a href="https://us.forums.blizzard.com/en/wow/t/h-five-fx-recruiting-for-prime-time-raiding/310506/8">HERE</a>
<br>
<br>
<br>

<h1>Raid Logistics</h1>
  <br><b>Raid Times:</b> Tues/Weds 7pm-10pm PST
  <br><b>Consumables:</b> Bring on-hand as required
  <br><b>Loot System:</b> DKP / Loot Council
  <br><b>Warcraftlogs:</b> ON!
<br>


</p>

<p>*Almost all items will be using a DKP roll or bid system. MT/OT will have first priority on all tanking items. Game-changing items such as //Thunderfury/EoS/etc. will be determined by loot council and given strategically to those most benefitting the raid in progression. Perform well!*
<p/>

<br>
<br>
<br>
<!--
{% include figure caption= ""%} // this is what i originally had paragraph in

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="center" %}
