---
layout: splash
author_profile: false
header:
  image: /assets/images/header.jpg
---

<form action="/my-handling-form-page" method="post">
  <div>
    <label for="name">Character Name:</label>
    <input type="text" id="1" name="user_name" />
    <div>

      <div>
        <label for="msg">Class/race and role you hope to fill:</label>
        <textarea id="text" name="user_message"></textarea>
      </div>

      <div>
        <label for="mail">Introduce yourself in 3-4 sentences:</label>
        <input type="text" id="2" name="user_email" />
      </div>

      <div>
        <label for="msg">Previous raiding experience:</label>
        <textarea id="text" name="user_message"></textarea>
      </div>
      <div>
        <label for="msg">What's your class/race and role you hope to fill?:</label>
        <textarea id="text" name="user_message"></textarea>
      </div>

      <div>
        <label for="msg">Have you read the "about" page and understand our raiding times / loot methodology / and raid requirements?:</label>
        <textarea id="text" name="user_message"></textarea>
      </div>
      <div>
        <label for="msg">Warcraftlog links or other performance data (optional):</label>
        <textarea id="text" name="user_message"></textarea>
      </div>
      <br>
      <br>
      <br>
      <br>


      <!--
      {% include feature_row id="intro" type="center" %}

      {% include feature_row %}

      {% include feature_row id="feature_row2" type="left" %}

      {% include feature_row id="feature_row3" type="right" %}

      {% include feature_row id="feature_row4" type="center" %}
